html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* max-width: 960px; */
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    line-height: 1.25;
}

a {
    background-color: transparent;
    color: #308282;
    text-decoration: underline;
}

a:hover {
    color:orange;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

svg:not(:root) {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.logo {
    width: 150px;
    margin-inline-end: 20px;
}

.logo a {
    display: block;
}

.figure-logo {
    max-width: 150px;
    max-height: 55.1px;
}

.release-notes {
    font-size: 14px;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}

.figure-space {
    max-width: 265px;
}

@keyframes pos {
    0%, 100% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    animation: pos 3s ease infinite;
    transform: translateY(50px);
    transform-origin: 50% 80%;
}

.main-text {
    max-width: 400px;
    margin: 5px auto;
}

.main-text h1 {
    font-size: 22px;
}

.main-text p {
    margin: 15px auto 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.option {
    display: block;
    padding: 10px 10px 10px 34px;
    position: relative;
    text-decoration: none;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: gray;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 100%;
    top: 10px;
    inset-inline-start: 0;
    position: absolute;
}

.option h2 {
    font-size: 19px;
    text-decoration: underline;
}

.option p {
    padding-top: 3px;
    color: #231f20;
    font-size: 15px;
    font-weight: 300;
}

@media (max-width: 996px) {
    /* body {
        max-width: 780px;
    } */
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {
    .header-link {
        max-width: 100px;
    }
}
/* custom css */
#legend{position: absolute;}
.rim1, .rim2, .rim3{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 0em;
    height: 0em;
    border: white .25em solid;
    background: skyblue;
  }
  .rim1 {
    -webkit-animation: expand 2s linear infinite;
  }
  .rim2 {
    -webkit-animation: expand 2s linear .5s infinite;
  }
  .rim3 {
    -webkit-animation: expand 2s linear 1s infinite;
  }
  
  @-webkit-keyframes expand {
    0% {
      top: calc(50% - .5em);
      left: calc(50% - .5em);
      width: 1em;
      height: 1em;
      border: white .125em solid;
      opacity: 1;
    }
    100% {
       top: calc(50% - 1.5em);
      left: calc(50% - 1.5em); 
      width: 3em;
      height: 3em;
      border: white .25em solid;
      opacity: 0;
    }
  }
body #newchess{position: fixed; width:100%; height: 100%;}
body #newchess{
    background-color: darkgray;
    background-image:url("/media/images/pattern7.png");
    background-repeat: repeat;
    background-size: 2.3rem;
    transition: 0.6s;
}
body #newchess:hover{
    background-color: black;
    background-image:url("/media/images/pattern7T.png");
}
.nav-link:hover{color: green;}
/* .sec_hide{display: none;}
.sec_show{display: block;} */
#services p{margin-bottom: 15px; font-size: 17px; padding-left: 24px; padding-right: 24px;}
.port-inside .img-h3 h3{display:none; position:absolute;right:0;top:0; color: #fff;}
.port-inside .img-h3{position: relative;}
.port-inside .img-h3:hover h3{display: inline-block; color: green; font-size: 12px; }
.port-inside img{box-shadow: 2px 2px 2px #ebebeb, -2px -2px 2px #ebebeb;}
#team img{border-radius: 50%; border: 2px solid green;}
#team img:hover{border: 2px solid orange;}
#team .team-inside{padding: 20px 10px; box-shadow: 2px 2px 2px #ebebeb, -2px -2px 2px #ebebeb; border: 1px solid #ccc; border-radius: 15px;}
#team .team-inside h5{color: green; font-weight: 600;}
.socialmedia a{text-decoration: none;}
.c_o{color: green;}
.c_w{background-color: white;}
.pr-4{padding-right: 24px;}
.pl-4{padding-left: 24px;}

.css3-shadow{
    position:relative;
    -webkit-box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

#maincontainer .mb-4{margin-bottom: 4.5rem!important;}
#maincontainer .mt-4{margin-top: 4.5rem!important;}
